@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Fugaz+One&display=swap');
body {
    font-family: "Fugaz One", sans-serif;
    font-weight: 200;
    font-size: 16px;
    text-align: center;
    background: #001e15;
    color: #c2ff94;
    padding: 20px;
}
p{
    font-size: 24px;
    text-align: center;
}
h1 {
    font-size: 70px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #47ff44;
}

#chat {
    max-width: 700px;
    margin: auto;
    
}

textarea {
    background-color: #d3e5c5;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: #c2f2c1 0px 0px 10px;
    width: 100%;
    height: 80px;
    padding: 10px;
    font-size: 16px;
}

button {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    background-color: #4CAF50;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 34px;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

.msg {
    margin-top: 20px;
    white-space: pre-wrap;
}

.answer {
    /* background: #020617; */
    padding: 15px;
    border-radius: 6px;
    margin-top: 19px;
}
.message.bot ul {
  padding-left: 20px;
  margin-top: 8px;
}

.message.bot li {
  margin-bottom: 6px;
}

.message.bot strong {
  color: #38bdf8;
}
